<header style="background-image: url(http://gofourwalls.com/wp-content/uploads/2015/03/C-Premium-LivingRoom-featured-darkened.jpeg); height: 25em; width: 100%;">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Room in a box</div>
            </div>
        </div>
</header>