<section id="hello" style="background-image: url(http://gofourwalls.com/wp-content/uploads/2015/03/C-Premium-LivingRoom-featured-darkened.jpeg); opacity: .9; margin: 0; width: 100%; height: 30em;">
</section>