<header style="background-image: url(http://gofourwalls.com/wp-content/uploads/2015/03/C-Premium-LivingRoom-featured-darkened.jpeg); height: 30em; width: 100%;">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">About Us</div>
            </div>
        </div>
</header>



<div class="container">
    
  <div class="row">
      <div class="col-lg-12 text-center">

		<h3 class="section-subheading text-muted">Four walls makes furnishing your home easier, one room at a time.</h3>

		<p>Four Walls is a Toronto-based condo-focused provider of beautiful rooms of furniture perfect for small-space living. Four Walls is “room in a box”.We are a team of condo dwellers who have looked at hundreds of floor plans of new condos. We recognize the challenge of space planning with the ever shrinking real estates in new condos and an increasing cost of real estate.</p>
	</div>
	<div class="col-md-6 portfolio-item">
		<h3 class="section-subheading text-muted text-center">Our Mission</h3>
		<p class="text-center">Maximize function in small spacesOptimize style with condo-friendly furniture Simplify the furnishing process.</p>
	</div>

	<div class="col-md-6 portfolio-item">
		<h3 class="section-subheading text-muted text-center">Our Solution</h3>
		<p class="text-center">Four Walls provides you with high quality and beautifully designed products packaged into functional and stylish rooms. All you need to do is pick the room you want. Each room is offered in three different tiers: basic, regular, premium.</p>
	</div>

</div>