<header style="background-image: url(http://gofourwalls.com/wp-content/uploads/2015/03/C-Premium-LivingRoom-featured-darkened.jpeg); height: 30em; width: 100%;">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">About Us</div>
            </div>
        </div>
</header>



<div class="container">
    
  <div class="row">
      <div class="col-lg-12 text-center">

		<h3 class="section-subheading text-muted">Four walls makes furnishing your home easier, one room at a time.</h3>

		<p>Four Walls is a Toronto-based condo-focused provider of beautiful rooms of furniture perfect for small-space living. Four Walls is “room in a box”.We are a team of condo dwellers who have looked at hundreds of floor plans of new condos. We recognize the challenge of space planning with the ever shrinking real estates in new condos and an increasing cost of real estate.</p>
	</div>
	<div class="col-md-6 portfolio-item">
		<h3 class="section-subheading text-muted text-center">Our Mission</h3>
		<p class="text-center">Maximize function in small spacesOptimize style with condo-friendly furniture Simplify the furnishing process.</p>
	</div>

	<div class="col-md-6 portfolio-item">
		<h3 class="section-subheading text-muted text-center">Our Solution</h3>
		<p class="text-center">Four Walls provides you with high quality and beautifully designed products packaged into functional and stylish rooms. All you need to do is pick the room you want. Each room is offered in three different tiers: basic, regular, premium.</p>
	</div>

	<!-- About Section -->
	<section id="about">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2 class="section-heading">About</h2>
	                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-12">
	                <ul class="timeline">
	                    <li>
	                        <div class="timeline-image">
	                            <img class="img-circle img-responsive" src="../../images/about/1.jpg" alt="">
	                        </div>
	                        <div class="timeline-panel">
	                            <div class="timeline-heading">
	                                <h4>2009-2011</h4>
	                                <h4 class="subheading">Our Humble Beginnings</h4>
	                            </div>
	                            <div class="timeline-body">
	                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
	                            </div>
	                        </div>
	                    </li>
	                    <li class="timeline-inverted">
	                        <div class="timeline-image">
	                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
	                        </div>
	                        <div class="timeline-panel">
	                            <div class="timeline-heading">
	                                <h4>March 2011</h4>
	                                <h4 class="subheading">An Agency is Born</h4>
	                            </div>
	                            <div class="timeline-body">
	                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
	                            </div>
	                        </div>
	                    </li>
	                    <li>
	                        <div class="timeline-image">
	                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
	                        </div>
	                        <div class="timeline-panel">
	                            <div class="timeline-heading">
	                                <h4>December 2012</h4>
	                                <h4 class="subheading">Transition to Full Service</h4>
	                            </div>
	                            <div class="timeline-body">
	                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
	                            </div>
	                        </div>
	                    </li>
	                    <li class="timeline-inverted">
	                        <div class="timeline-image">
	                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
	                        </div>
	                        <div class="timeline-panel">
	                            <div class="timeline-heading">
	                                <h4>July 2014</h4>
	                                <h4 class="subheading">Phase Two Expansion</h4>
	                            </div>
	                            <div class="timeline-body">
	                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
	                            </div>
	                        </div>
	                    </li>
	                    <li class="timeline-inverted">
	                        <div class="timeline-image">
	                            <h4>Be Part
	                                <br>Of Our
	                                <br>Story!</h4>
	                        </div>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</section>
</div>